<br>
<br>

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body px-5 text-center">
            <div class="md-5 pb-4">
              <h2 class="fw-bold text-uppercase">Sacar Turno</h2>
              <p class="text-white-50 mb-3">Por favor, introduce tus datos!</p>
              <form [formGroup]="form" autocomplete="off">
                  <div class="form-outline form-white mb-2">
                    <label class="form-label" for="name">Nombre</label>
                    <input [(ngModel)]="usuario.name" formControlName="name" type="text" id="name" class="form-control form-control-lg"/>
                    <span class="form-text text-danger" *ngIf="form.controls.name.errors && form.controls.name.touched">Este campo es obligatorio</span>
                  </div>
                  <div class="form-outline form-white mb-2">
                    <label class="form-label" for="fecha">Fecha</label>
                    <input formControlName="date" type="date" id="fecha" class="form-control form-control-lg" />
                    <span class="form-text text-danger" *ngIf="form.controls.date.errors && form.controls.date.touched">Este campo es obligatorio</span>
                  </div>
                  <div class="form-outline form-white mb-2">
                    <label class="form-label" for="hora">Hora</label>
                    <input formControlName="time" type="time" id="hora" class="form-control form-control-lg"/>
                    <span class="form-text text-danger" *ngIf="form.controls.time.errors && form.controls.time.touched">Este campo es obligatorio</span>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label for="trabajo">Trabajo a realizar</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected value="semipermanente">Semipermanente</option>
                        <option value="esculpidas">Esculpidas</option>
                        <option value="manicura rusa">Manicura rusa</option>
                      </select>
                  </div>
                  <button [disabled]="form.invalid" class="btn btn-outline-light btn-lg px-5" type="submit" (click)="agregarTurno()">Guardar Turno</button>
                </form>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
