<br>
<div class="row px-5 mt-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Administar Usuarios</h5>
          <p class="card-text">Tener el control de los usuarios y los permisos de los mismos</p>
          <a routerLink="/tienda/usuarioscrud" href="#" class="btn btn-primary">Ir a usuarios</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Administar Productos</h5>
          <p class="card-text">Tener el control de los productos y los permisos de los mismos</p>
          <a routerLink="/tienda/productoscrud" href="#" class="btn btn-primary">Ir a productos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Administar Turnos</h5>
            <p class="card-text">Tener el control de los turnos y los permisos de los mismos</p>
            <a routerLink="/tienda/turnoscrud" href="#" class="btn btn-primary">Ir a Turnos</a>
          </div>
        </div>
      </div>
  </div>